@{
    ViewBag.title = "User";
}
@model User

<form action="/User/index" method="post">

    <label asp-for="Name"></label>
    <input type="text" class="form-control" asp-for="Name">
    <br>
    <label asp-for="Lastname"></label>
    <input type="text" class="form-control" asp-for="Lastname">

    <button type="submit" class="btn btn-primary">Save</button>
</form>


@await Component.InvokeAsync("UserCompenet")
